<div class="container">
    <div class="row footer-content text-center d-flex justify-content-around">
        
        <!-- Contact Details -->

        <div class="col-sm-3">
            <h4 class="footer-titles pb-2">Contact</h4>
                <a href="mailto:ravosilesia88@protonmail.com" aria-label="Email Link" class="social-media">
                    <i class="fas fa-envelope me-3"></i>
                        ravosilesia88@protonmail.com
                </a>
                <p>Phone Number: +353 87 358 8765</p>
                <a href="https://www.facebook.com/" class="social-media" target="_blank" aria-label="Facebook Link">
                    <i class="fa-brands fa-facebook fa-xl"></i>
                </a>
                <a href="https://www.instagram.com/" class="social-media" target="_blank" aria-label="Instagram Link">
                    <i class="fa-brands fa-instagram fa-xl"></i>
                </a>
        </div>

        <!-- About Us -->
        <div class="col-sm-3">
            <h4 class="footer-titles pb-2">About Us</h4>
                <p>We are an online fitness store with a wide range of products
                    from whey protein and aminoacids to parallettes and pull-up bars.</p>
        </div>

        <!-- Our Mission -->

        <div class="col-sm-3">
            <h4 class="footer-titles pb-2">Our Mission</h4>
            <p>We offer competitive prices, a pleasant UI, a fast webpage,
                secure checkouts and more. We aim to revolutionize the digital fitness e-commerce sector.</p>
        </div>
    
    </div>
    
    <!-- Creator Details - Content taken from my PP2 -->

    <div class="row text-center pb-5">
        <div class="col">
            <p>The Fitness Den was created by Dorian Wolarz, a Code Institute Student.</p>
            <p>I hope you found it a pleasurable experience. <br>You can find me on the following social media:</p>
            <a href="https://www.instagram.com/linkolite/" class="social-media" target="_blank" aria-label="Instagram Link">
                <i class="fa-brands fa-instagram fa-xl"></i>
            </a>
            <a href="https://github.com/RavoPL" class="social-media" target="_blank" aria-label="Instagram Link">
                <i class="fa-brands fa-github fa-xl"></i>
            </a>
        </div>
    </div>
</div>